<div id="<%= dom_id question %>">
  <p>
    <strong>Qns type:</strong>
    <%= question.qns_type %>
  </p>

  <p>
    <strong>Qns description:</strong>
    <%= question.qns_description %>
  </p>

</div>
